@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-new {
    background: linear-gradient(90deg, #343434 0, #343434 63%, #f58220 0, #f58220);
}

/* Toggle A */
.aktif {
    transform: translateX(100%);
}

.txs {
    transform: translate(-50%);
}

.input-mobile-search {
    border: none;
    border-bottom: 1px solid #b4b4b4;
    border-radius: 0;
    width: 100%;
}

input[type=text] {
    padding: 0;
}